
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

.wrapper{
  margin: 30px;
  img{
    width: 450px;
  }
  p{
    max-width: 450px;
  }
  h3{
    color:#fdfdfd;
    margin: 20px 0;
  }
}
.image{
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin: 0 auto;
  h1{
    margin-bottom: 30px;
    color:#fdfdfd;
    @media (min-width: 768px) and (max-width: 1023px) {

        font-size: 15px ;

    }
  }
  p{
    font-size: 18px;
    max-width: 800px;
    text-align: center;
    color: #cecece;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    @media (min-width: 768px) and (max-width: 1023px) {

      font-size: 12px;
      padding: 15px;

    }
  }
  @media (max-width: 767px){
    h1{
      font-size: 12px;
    }
    p{
      font-size: 10px;
      line-height: 20px;
      padding: 5px;
    }
  }
}
.wrapperDate{
  display: flex;
  color: #868686;
  font-size: 18px;
  margin: 20px 0;
  justify-content: space-between;
 .comment{
   margin-right: 10px;
   font-size: 30px;
 }
}

.description{
  color: #868686;
}