.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px auto;
  justify-content: center;
  max-width: 1200px;

  .description {
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;

  }

  @media (max-width: 767px) {
    margin: 0;
  }
}

.wrapperText {
  width: 400px;
  // display: flex;
  @media (max-width: 767px) {
    width: 200px;
    .wrapperPrice{
      p {
        font-size: 10px;
      }
    }
p{
  font-size: 10px !important;
}

  }

}


.wrapperImage {
  img {
    max-width: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  @media (max-width: 767px) {
  img{
    width: 80px;
    height: 80px;
  }
  }
}

.main {
  display: flex;
  padding: 15px;
}

.wrapperPrice {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 2px dashed #ef0000;

  p {
    color: #de6908;
    padding: 0 10px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}
.wrapperPricePaginator{
  display: flex;
  align-items: center;
  justify-content: center;
  .items{
    display: flex;
    li{
      padding:10px;
      border-radius: 15px;
      font-size: 30px;
      list-style: none;
      color:#fdfdfd;
      background-color: black;
      margin: 5px;
      &:hover{
        background-color: #fdfdfd;
        color:#000000;
        cursor: pointer;
      }
      @media (max-width: 767px){
        margin-bottom: 50px;

          padding: 5px;
          font-size: 15px;
          border-radius: 50%;

      }
    }
  }
}
.active{
  background-color: #fdfdfd !important;
  color:#000000 !important;
}
