.container{
  padding-top: 100px;
 padding-bottom: 20px;
  h1{
    color:#fdfdfd;
  }
  p{
    color: grey;
    font-size: 15px;
  }
}

.itemsMenu{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  img{
    max-width: 290px;
  }
  .descriptionItem{
    max-width: 300px;
    padding: 10px;
    .name{
      color: #cecece;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .description{
      font-size: 16px;
      margin-bottom: 15px;
    }
    .price{
      font-size: 20px;
      span{
        color:#ef0000;
      }
    }
  }
}
.wrapperItems{
  display: flex;
  margin-bottom: 15px;

}
.headerMenu{
  margin-bottom: 100px;
  text-align: center;
  h1{
    margin-bottom: 20px;

  }
  p{
    font-size: 18px !important;
    color: #868686;
    //font-weight: bolder;

    letter-spacing: 1px;
  }
  @media (max-width: 767px){
    margin-bottom: 50px;
   h1{
     font-size: 12px;
   }
    p{
      font-size: 10px !important;
    }
  }
}
.wrapperPrice{
  display: flex;
  align-items: center;
  p{
    padding: 0 15px;
  }
  button{
    background-color: transparent;
    border: 1px solid #ef0000;
    color: #ef0000;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
      padding: 15px 30px;
      border: 1px solid white;
      color: #fdfdfd;
    }
  }
}
.pages{
  text-align: right;
  margin: 30px;
  padding: 30px;
}
.containerPrice{
  margin:   50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  img{
    margin: 40px 0 ;
  }
  p{
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 50px;
    img{
      max-width: 300px;
    }
    p{
      display: none;
    }
  }
  @media (max-width: 767px){
    h1{
      font-size: 12px;
    }
    img{
      max-width: 200px;
    }
    p{
      font-size: 10px;
      padding: 5px;
      display: none;
    }
  }
}