.wrapperImage {
margin-left: 10px;
  img {
    max-width: 800px;
    //height: 100%;
  }
  @media (min-width: 1024px) and (max-width: 1380px){
img{
  max-width: 400px;
  height: 325px;
}
  }
}

.container {
  display: flex;
  padding-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  @media (min-width: 1024px) and (max-width: 1380px){
   padding: 30px;
    text-align: center;
  }

  p {
    max-width: 800px;
    color:#cecece;
    letter-spacing: 1px;
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;

  }

  h2 {
    color:#fdfdfd;
  }
  span{
    color:orange;
  }
}