.container {
  display: flex;
  justify-content: space-between;

.wrapperBlog{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  margin: 100px 50px ;
  h1{
    letter-spacing: 1px;
    @media (max-width: 767px){
      font-size: 12px;
      margin-bottom: 20px;

    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    margin: 20px 0;
    font-size: 12px;
  }

  @media (max-width: 767px){
  margin: 0;
}
}
  .wrapper {
    text-align: left;
    color: #868686;
    margin: 20px;
    .header{
      margin-left: 30px;
      @media (min-width: 768px) and (max-width: 1023px) {
       margin-left: 17px;
      }
    }

    h1 {
      color: #fdfdfd;
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }

    ul {
      margin-top: 30px;
      padding: 0;

      li {
        list-style: none;
        padding: 5px;
        color: #868686;
        letter-spacing: 1px;
      }
    }
    @media (max-width: 767px){
      width: 100%;
      .header{
        margin-left: 0;
      }
    }
  }

  .blog {

  }

  .description {
    margin-top: 10px;
    color: #868686;
    max-width: 200px;
    text-align: left;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 15px;
    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 300px;
    }
    @media (max-width: 767px){
      line-height: 20px;
      font-size: 12px;
    }
  }
}

.wrapperImage {

}

.wrapperBlogs {
  display: flex;
  //margin: 5px;
  h3{
    max-width: 200px;
    letter-spacing: 1px;
    line-height: 30px;
    @media (max-width: 767px){
     line-height: 20px;
      width: 100%;
      max-width: 115px;
    }

  }
  @media (max-width: 767px){
    justify-content: space-between;
  }

}

.questions {
  color:#868686;
  h1 {
    margin-bottom: 30px;
    color:#fdfdfd;

  }

  p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    letter-spacing: 1px;
    svg{
      color:#de6908;
      margin-right: 10px;
      font-size: 20px;
    }

    padding: 5px;
    a{
     color:#868686;
      text-decoration: none;
    }
  }
  @media (max-width: 767px){
  h1{
    margin-left: 20px;
  }
    p{
      font-size: 10px;
    }
  }
}