
.container {
  height: 100%;
  position: relative;

}

.carousel {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.9s;

  .wrapperHome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 300px;
    @media (max-width: 767px) {
      margin-top: 80px;
      font-size: 10px;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 20px;
      margin: 5px;
      font-size: 15px;
      font-weight: bold;

    }

    @media (max-width: 767px) {
      button {
        padding: 10px;
        font-size: 10px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .wrapperHome {
      margin-top: 235px;
    }
  }
}

.order {
  background-color: #e50202;
  color: #000000;
  border: none;

  &:hover {
    color: #fdfdfd;
    cursor: pointer;
    padding: 30px;
  }
}

.view {
  background-color: transparent;
  border: 1px solid aliceblue;
  color: aliceblue;
  cursor: pointer;

  &:hover {
    color: black;
    border: 1px solid black;
    padding: 30px;
  }
}


.dots {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    padding: 15px;

    &:hover {
      cursor: pointer;
    }

    svg {
      @media (max-width: 767px) {
        font-size: 30px !important;
        color: #de6908;
      }
    }
    .active{
      color:#ef0000;
    }
  }

}

.active {
  color: #ef0000;
  padding: 10px;
}

.dot {
  &:hover {
    color: #ef0000;
  }

}

.homeMessage {
  text-align: center;

  .welcome {
    font-size: 36px;
    font-weight: lighter;
    color: #ef0000;
    font-style: italic;
    font-family: "Bodoni MT Poster Compressed";
  }

  h1 {
    color: #fdfdfd;
    margin: 10px 0;
    max-width: 600px;
    font-family: Bahnschrift;
    letter-spacing: 1px;
  }

  .description {
    font-size: 19px;
    color: #ffffff;
    margin: 40px 0;
    letter-spacing: 1px;

    span {
      font-size: 25px;
      font-weight: bold;
      color: #ef0000;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 13px;
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 10px;
    }
    .description {
      font-size: 10px;
    }
  }
}