.container {

  div {
    display: flex;
    flex-direction: column;
    width: 600px;
    border-bottom: 1px solid #de6908;
    margin-bottom: 30px;
    @media (max-width: 767px){
      width: auto;
      padding: 5px;
    }

    input {
      background-color: transparent;
      padding: 10px;
      border: none;
      color: #fdfdfd;
      &:focus{
      }
    }

    label {
      color: #de6908;
    }
  }
  @media (max-width: 767px){
  width: 100%;

  }
}
form{
  button{
    padding: 10px 40px;
    background-color: #de6908;
    border: none;
    cursor: pointer;
    transition: all 0.5s;

    &:hover{
      padding: 10px 45px;
      color:#fdfdfd;
    }
  }

}
.succeed{
  margin-top: 5px;
  color: #0e6024;
}