.container {
  border-top: 1px solid #919191;
  width: 80%;
  margin: 20px;

  .wrapper {
    border-bottom: 1px solid #919191;
    padding: 20px;

    img {
      max-width: 200px;
    }

    .wrapperProduct {
      display: flex;
      justify-content: space-between;

      .ingredients {
        color: #868686;
        letter-spacing: 1px;
        margin-bottom: 10px;
        font-size: 17px;
      }

      .size {
        color: #868686;
        letter-spacing: 1px;
        font-size: 17px;
      }

      .totalCurrentPizzaPrice {
        .totalPrice {
          font-size: 20px;
          font-weight: bolder;
        }

        @media (min-width: 1024px) and (max-width: 1250px) {
          .totalPrice {
            font-size: 14px;
          }
        }
      }

      @media (min-width: 1024px) and (max-width: 1250px) {
        .wrapperDesc {
          p {
            font-size: 12px;
          }
        }
        div {
          padding: 10px;
        }
        .name {
          font-size: 16px;
        }
      }
      @media (max-width: 767px) {
        display: block;
        img {
          max-width: 50px;
          max-height: 50px;
          border-radius: 50%;
        }
        .name {
          font-size: 12px;
        }
        .ingredients {
          font-size: 12px;
        }
        .size{
          font-size: 12px;
        }
        }
    }

    .name {
      font-size: 22px;
      font-weight: lighter;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
  }

  .wrapperUnderList {
    ul {
      display: flex;
      margin-left: 250px;

      li {
        list-style: none;
        margin: 0 20px;
        font-size: 20px;
        color: #868686;
        display: flex;
        align-items: center;

        svg {
          margin-left: 20px;
          color: #de6908;
          font-size: 30px;
        }

        &:hover {
          cursor: pointer;
          color: #de6908;
        }
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 305px;

    p {
      font-size: 20px;
      font-weight: bold;
    }

    p {
      margin: 0 20px;
    }
  }

  .wrapperCount {
    .price {
      font-size: 20px;
      font-weight: bolder;
    }

    @media (min-width: 1024px) and (max-width: 1250px) {
      .price {
        font-size: 14px;
      }
    }
    @media (max-width: 767px) {
     margin: 10px 0;

     .name{
       font-size: 15px !important;
     }
      .price{
        font-size: 14px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: auto;
    margin: 0;
    .wrapper {
      img {
        max-width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      .name {
        font-size: 12px;
      }

      .ingredients {
        font-size: 12px;
      }

      .wrapperProduct {
        .wrapperDesc {
          p {
            font-size: 12px !important;
          }
        }

        .wrapperCount {
          p {
            font-size: 12px;
          }

        }

        .totalCurrentPizzaPrice {
          p {
            font-size: 12px !important;
          }
        }
      }

      .wrapperUnderList {
        ul {

          li {
            font-size: 12px;

            svg {
              font-size: 20px;
            }
          }
        }
      }
    }


  }
}