.container {
  border-top: 1px solid black;
  width: 60%;

  .wrapper {
    border-bottom: 1px solid black;
    padding: 20px;

    img {
      max-width: 200px;
    }

    .wrapperProduct {
      display: flex;
      justify-content: space-between;
      .ingredients {
        color: #868686;
        letter-spacing: 1px;
        margin-bottom: 10px;
        font-size: 17px;
      }

      .size {
        color: #868686;
        letter-spacing: 1px;
        font-size: 17px;
      }
      .totalCurrentPizzaPrice{
        .totalPrice{
          font-size: 20px;
          font-weight: bolder;
        }
      }
    }
    .name {
      font-size: 22px;
      font-weight: lighter;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
  }

  .wrapperUnderList {
    ul {
      display: flex;
      margin-left: 250px;

      li {
        list-style: none;
        margin: 0 20px;
        font-size: 20px;
        color: #868686;
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 305px;
    p{
     font-size: 20px;
      font-weight: bold;
    }

    p {
      margin: 0 20px;
    }
  }
  .wrapperCount{
.price{
  font-size: 20px;
  font-weight: bolder;
}
  }
}