.container{
  border-top: 2px solid black;
  margin-top: 100px;
  h1{
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  .cartName{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper{
    display: flex;
  }
  .wrapperItems{
    width: 100%;
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 305px;
    p{
      font-size: 20px;
      font-weight: bold;
    }

    p {
      margin: 0 20px;
    }
  }
}