.container{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  color:#868686;
  img{
    max-width: 200px;
  }
  .wrapperList{
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      display: flex;

      li{
        list-style: none;
        padding: 5px;
        margin: 0 25px;
        &:hover{
          cursor: pointer;
          color:#ef0000;
        };
      }
    }

  }
}

.header{
  background-color: rgba(0, 0, 0, 0.32);
}