.container{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  color:#868686;
  img{
    max-width: 200px;
  }
  .wrapperList{
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      display: flex;
      color: #ffffff;
      font-weight: bold;

      li{
        list-style: none;
        padding: 5px;
        margin: 0 25px;
        &:hover{
          cursor: pointer;
          color:#ef0000;

        };
      }
    }

  }
  a{
    text-decoration: none;
  }
}

.header{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}
.logo{
  cursor: pointer;
}
.cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    margin: 0 5px;
    font-size: 20px;
    color: #ef0000;
    animation-name: brighten;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
}
@keyframes brighten {
  0% {
    color: #ef0000;
  }
  25% {
    color: #ffffff;
  }
  50% {
    color: #ef0000;
  }
  75% {
    color: #ffffff;
  }
  100% {
    color: #ef0000;
  }
}