.container{
  padding: 15px;
  display: flex;
  .lists{
    ul{
      display: flex;
      li{
        list-style: none;
        color:#ef0000;
        border: 1px solid #ef0000;
        padding: 20px;
        margin: 5px;
        cursor: pointer;
        &:hover{
          background-color: #de6908;
          border: none;
          color:#000000;
        }
      }
    }
  }
}
.wrapperImage{
  img{
    max-width: 800px;
  }
}

.containerProducts{
display: flex;
  img{
    max-width: 200px;
  }
}