.container{
  select{
    width: 130px;
    padding: 5px;
    height: 40px;
    color:#000000;
    option{
      color: #868686 !important;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      width: 50px;
    }
    @media (min-width: 1024px) and (max-width: 1250px){
      width: 50px;
    }
    @media (max-width: 767px) {
      width: 50px;
    }
  }
}